@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    /* background-color: #4e4b48; */
}

.navegador{
    background-color: #6950A1;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}


.navegador h2{
    color: white;
    font-size: 35px;
}

.navegador button{
    background-color: #FBB04D;
    color: white;
    border: none;
    padding: 0.4em 0.8em;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}

.noticias{
    display: flex;
    flex-wrap: wrap;

}
.noticia{
    display: flex;
    width: 90%;
    height: auto;
    margin: 2em;
    padding: 2em;
    border: 2px solid #6950A1;
    border-radius: 10px;
    align-items: center;
}

.noticia h2{
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    padding: 1em;
    color: #6950A1;
}
.noticia p{
    padding: 1.5em;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

}
.imagem{
    max-width: 400px;
    max-height: auto;
}

.botoes{
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    
}
.editar{
    background:#6950a1;
    color: #ffffff;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
}
.excluir{
    background:#ffffff;
    color: #1e1e1e;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 10px;
    border: 1px rgb(0, 0, 0) solid;
    outline: none;
}

@media screen and  ( max-width : 768px )  { 
    .navegador{
        max-width: 100%;
    }

    .noticia{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 80%;
    }
    
    .noticia button{
        margin-left: 1em;
    }
}

@media screen and  ( max-width : 576px )  { 
    .navegador img{
        width: 15vw !important;
    }
    .navegador h2{
        font-size: 25px;
    }
    .navegador button{
        font-size: 14px;
    }
}

@media screen and (max-width: 400px){
    .navegador h2{
        font-size: 15px;
    }
    .navegador button{
        font-size: 15px;
    }
    .noticia{
        width: 70%;
        height: auto;
        margin: 2em auto;
    }
}