@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.dark{
    background-color: black;
    color: white;
}

/* .estilo .dark{
    background-color: black;
    color: white;
} */

.body{
    font-family: 'Poppins', sans-serif;
}

.title{
    font-Size: 24px;
    font-Weight: bold;
    margin-Bottom: 20px;
}

.section{
    display: 'flex';
    justify-Content: "center";
}